<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Quickbase Live</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/main.css">
    <link rel="stylesheet" href="static/css/prism.css" />
    <link rel="stylesheet" href="static/css/nav.css" />
    <link rel="stylesheet" href="static/css/scroll.css" />
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-dark rounded ">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Quickbase Live</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <i class="bi bi-list ico"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto"></ul>
          <div class="d-flex ms-auto">
            <a class="nav-link mx-3" href="https://github.com/ihatemodels/Quickbase-Live" target="_blank">
              <i class="bi bi-github ico"></i>
            </a>
            <a class="nav-link mx3" href="https://quickbase.live/swagger" target="_blank">
              <i class="bi bi-motherboard-fill ico"></i>
            </a>
          </div>
        </div>
      </div>
    </nav>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container" id="welcome-message">
      <div class="row">
        <div class="col-lg-12">
          <div class="">
            <h1>
              <div id="rotate" class="tm-video-text">
                <div>QUICKBASE</div>
                <div>HIRE ME</div>
                <div class="blinking-cursor">PLEASE</div>
              </div>
            </h1>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="center-container">
            <div class="planet-moon-wrapper">
              <div class="planet-container">
                <img src="static/img/planet.png" alt="Planet" class="planet-image">
                <div class="planet-mask"></div>
                <img src="static/img/moon.png" alt="Moon" class="moon-image">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <hr class="mt-2 mb-3" />
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
    <div class="container tm-container-2">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="mb-3 text-left">Who am I</h1>
        </div>
      </div>
      <div class="row tm-section-mb">
        <div class="col-lg-12">
          <div class=" tm-timeline-item">
            <div class="tm-timeline-item-inner">
              <img src="static/img/jenkins.png" alt="Image" class="rounded-circle tm-img-timeline" weight="300" height="200">
              <div class="tm-timeline-connector">
                <p class="mb-0">&nbsp;</p>
              </div>
              <div class="tm-timeline-description-wrap">
                <div class="tm-bg-dark tm-timeline-description">
                  <h3 class="tm-text-green tm-font-400">The pipeline executor</h3>
                  <p class="tm-font-400 text-left">My skills are so sharp, even Java thinks I've got class! With me onboard, we'll build pipelines hotter and faster than your morning coffee.</p>
                </div>
              </div>
            </div>
            <div class="tm-timeline-connector-vertical"></div>
          </div>
          <div class="tm-timeline-item">
            <div class="tm-timeline-item-inner">
              <div class="tm-timeline-description-wrap">
                <div class="tm-bg-dark-light tm-timeline-description code-container">
                  <h3 class="tm-text-green tm-font-400">The Pythonic Way Developer</h3>
                  <br>
                  <p>
                    <code class="language-python">for result in [{True: "Odd", False: "Even"}[i % 2 == 0] for i in range(1, 101)]:</code>
                    <br>
                  <p>&nbsp;&nbsp;&nbsp;&nbsp; <code class="language-python">print(result)</code>
                  </p>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="tm-timeline-connector-vertical"></div>
          <div class="tm-timeline-item">
            <div class="tm-timeline-item-inner">
              <img src="static/img/k8s.png" alt="Image" class="rounded-circle tm-img-timeline">
              <div class="tm-timeline-connector">
                <p class="mb-0">&nbsp;</p>
              </div>
              <div class="tm-timeline-description-wrap">
                <div class="tm-bg-dark tm-timeline-description">
                  <h3 class="tm-text-cyan tm-font-400">The Kubernetes Ninja</h3>
                  <p class="tm-font-400"> When it comes to Kubernetes, I don't just 'kubectl apply', I ninja-flip into clusters! Some folks use a compass to navigate; I just helm my way through. </p>
                </div>
              </div>
              <div class="tm-timeline-connector">
                <p class="mb-0">&nbsp;</p>
              </div>
            </div>
            <div class="tm-timeline-connector-vertical"></div>
          </div>
          <div class="tm-timeline-item">
            <div class="tm-timeline-item-inner">
              <img src="static/img/react.png" alt="Image" class="rounded-circle tm-img-timeline">
              <div class="tm-timeline-connector">
                <p class="mb-0">&nbsp;</p>
              </div>
              <div class="tm-timeline-description-wrap">
                <div class="tm-bg-dark tm-timeline-description">
                  <h3 class="tm-text-orange tm-font-400">The Frontend Artist</h3>
                  <p class="tm-font-400">Just so you know, centering div tags is like second nature to me. I could do it all day with a smile</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--  row -->
      <div class="row">
        <div class="col-lg-12">
          <h1 class="mb-3 text-left">About the project</h1>
        </div>
      </div>
      <hr>
      <div class="row tm-section-mb tm-section-mt">
        <div class="col-lg-4 col-md-4 col-sm-12 pr-lg-5 mb-md-0 mb-4">
          <h3 class="mt-2 mb-3 tm-text-gray tm-font-400">Commitment</h3>
          <p class="tm-font-400"> Commitment is more than just dedication to a task. It's the relentless pursuit of excellence, even when faced with obstacles. It's the determination to push boundaries, to innovate, to iterate, and reiterate until what’s good becomes great, and what’s great becomes exceptional. </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12 pr-lg-5 mb-md-0 mb-4">
          <h3 class="mt-2 mb-3 tm-text-gray tm-font-400">Dedication</h3>
          <p class="tm-font-400"> Every digital landscape tells a story. Here, in this crafted corner of the web, lies a testament to passion, persistence, and a unique vision. This isn't just a portfolio — it's a chronicle of dedication. </p>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-12">
          <h3 class="mt-2 mb-3 tm-text-gray tm-font-400">Passion</h3>
          <p class="tm-font-400"> This portfolio is not just a showcase of technical expertise, but a narrative of a journey fueled by a burning passion for technology. It's about recognizing the magic in every byte, the art in every algorithm, and the dream in every digital endeavor. </p>
        </div>
      </div>
      <hr>
      <footer class="row mt-5 mb-5">
        <div class="col-lg-12">
          <p class="text-center tm-text-gray tm-copyright-text mb-0 tm-font-400">Copyright &copy; <span class="tm-current-year">2023</span> Made with ❤️ by Gergin Darakov | DevOps Engineer at Quickbase | Quickbase Live Version: {{ site_version }}
          </p>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="static/js/prism.js"></script>
  </body>
</html>